<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 30px;
  min-height: 200vh;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.outer-container{
  border: 1px solid black;
  width: 80vw;
  height: 78vh;
   margin: 40px auto;
   position: relative;
}
.inner-container{
   border: 2px solid #00f;
   width: 40vw;
   height: 50vh;
   margin: 200px auto;
}
.box{
 width: 150px;
 height: 150px;
 color: white;
 padding: 1rem;
}
 .absolute{
  background-color: blue;
  position: absolute;
  top: 100px;
  left: -100000px;
  z-index: 1;
 }
 .relative{
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
 }
 .fixed{
  background-color: green;
  position: fixed;
  top: 100px;
 }
 .sticky{
  background-color: black;
  position: sticky;
  top: 0;
 }
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 30px;
  min-height: 200vh;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.outer-container{
  border: 1px solid black;
  width: 80vw;
  height: 78vh;
   margin: 40px auto;
   position: relative;
}
.inner-container{
   border: 2px solid #00f;
   width: 40vw;
   height: 50vh;
   margin: 200px auto;
}
.box{
 width: 150px;
 height: 150px;
 color: white;
 padding: 1rem;
}
 .absolute{
  background-color: blue;
  position: absolute;
  top: 100px;
  left: -100000px;
  z-index: 1;
 }
 .relative{
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
 }
 .fixed{
  background-color: green;
  position: fixed;
  top: 100px;
 }
 .sticky{
  background-color: black;
  position: sticky;
  top: 0;
 }
>>>>>>> d9713cdc1d7ebd7504e50e1dadfc856960cd80bb
